.btn-arrow {
  border: 1px solid $gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  font: #{$base-font-size - 4px}/#{$base-line-height + 6px} $base-font-family;
  box-sizing: border-box;
  height: 30px;
  padding: 0 31px 0 10px;
  background-color: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
  text-decoration: none;
  color: $dark-light;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  &[disabled] {
    border-color: #dedede;
    color: #a2a2a2;
    cursor: default;
    &:after {
      border-color: #aeaeae transparent transparent transparent;
    }
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #636363 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 8px;
    margin: -2px 0 0;
  }
}
.btn-delete {
  border: 1px solid $red;
  width: 29px;
  height: 28px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-indent: -9999px;
  overflow: hidden;
  background: rgb(227,117,92);
  position: relative;
  background: -moz-linear-gradient(top,  rgba(227,117,92,1) 0%, rgba(226,114,90,1) 33%, rgba(225,109,86,1) 56%, rgba(223,109,83,1) 59%, rgba(223,103,78,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(227,117,92,1) 0%,rgba(226,114,90,1) 33%,rgba(225,109,86,1) 56%,rgba(223,109,83,1) 59%,rgba(223,103,78,1) 100%);
  background: linear-gradient(to bottom,  rgba(227,117,92,1) 0%,rgba(226,114,90,1) 33%,rgba(225,109,86,1) 56%,rgba(223,109,83,1) 59%,rgba(223,103,78,1) 100%);
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 9px;
    top: 14px;
    height: 1px;
    width: 9px;
    background-color: #8c3e2d;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &.hidden {
    display: none;
  }
}
.btn {
  border: 1px solid $gray;
  padding: 0 10px;
  height: 30px;
  border-radius: 3px;
  font: #{$base-font-size - 4px}/#{$base-line-height + 6px} $base-bold-font-family;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  display: inline-block;
  vertical-align: top;
}
.btn-green {
  background: $green;
  border: 1px solid $green-dark;
  color: $white;
  text-shadow: 0 -1px #82b126;
}
.btn-blue {
  background: $blue;
  border: 1px solid $blue-dark;
  color: $white;
  text-shadow: 0 -1px #82b126;
}
.link {
  display: inline-block;
  vertical-align: middle;
  font: #{$base-font-size - 4px}/16px $base-font-family;
  text-decoration: none;
  margin: 0 6px;
  &:hover {
    text-decoration: underline;
  }
}
.link-red {
  color: $red-dark;
}
.link-blue {
  color: $blue-lightest;
}
.btn-box {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px 17px;
  position: relative;
  &:after {
    content: '+';
    position: absolute;
    top: 2px;
    left: -13px;
  }
  &:first-of-type {
    margin-left: 0;
    &:after {
      display: none;
    }
  }
}
.btn-cross {
  padding: 0 10px 0 23px;
  background-color: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
  font-family: $base-font-family;
  position: relative;
  margin: 0 !important;
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 14px;
    height: 2px;
    width: 10px;
    background-color: #505050;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.btn-order {
  display: inline-block;
  vertical-align: top;
  padding: 0 11px 0 0;
  position: relative;
  text-decoration: none;
  color: $dark-light;
  line-height: $base-line-height -5px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: $dark-light transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -2px 0 0;
  }
}